.container {
    position: absolute;
    z-index: 3;
    top: 5%;
    left: 5%;
    width: 95%;
    height: 100%;
    max-width: max-content;
}
.container-header{
    float: left;
}

@media all and (max-width: 980px) {
    .container{
        margin-left: 0;
        left: 64px;
    }
}